.account-con {
  width: 1440px;
  height: 1024px;
  background-color: #181818;
}
.account-container {
  height: 700px;
  width: 1440px;
  background-color: #ffffff;
  padding-top: 64px;
}
.account-heading {
  width: 133px;
  height: 47px;
  margin-top: 0px;
  margin-left: 165px;
  font-family: HK Grotesk;
  font-size: 36px;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: 0px;
  text-align: left;
  color: #131313;
}
.rule {
  width: 1110px;
  border-top: 2px solid #cbd5e1;
  border-bottom: 0px solid;
  margin-top: 24px;
  margin-left: 165px;
}
.member-heading {
  width: 142px;
  height: 31px;
  font-family: HK Grotesk;
  font-size: 24px;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: 0px;
  text-align: left;
  color: #94a3b8;
}
.member-ship {
  margin-left: 164px;
  margin-top: 14px;
  display: flex;
}
.gmail-password {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  height: 75px;
  margin-bottom: 24px;
}
.gmail-heading {
  width: 194px;
  height: 31px;
  font-family: HK Grotesk;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0px;
  text-align: left;
  color: #1e293b;
}
.password-heading {
  width: 257px;
  height: 31px;
  margin-top: 13px;
  font-family: HK Grotesk;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0px;
  text-align: left;
  color: #64748b;
}
.premium {
  width: 96px;
  height: 31px;
  margin-left: 22px;
  font-family: HK Grotesk;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0px;
  text-align: left;
  color: #1e293b;
  margin-right: 14px;
}
.ultra-hd {
  font-family: HK Grotesk;
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
  width: Hug (79px);
  height: Hug (27px);
  padding-top: 7px;
  padding-left: 4px;
  padding-bottom: 2px;
  padding-right: 4px;
  border-radius: 2px;
  border: 1px solid #1e293b;
  color: #1e293b;
}
.logout-button {
  width: 89px;
  height: 40px;
  margin-top: 64px;
  margin-left: 675px;
  border: 0px solid;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
  gap: 10px;
  background-color: #e50914;
  font-family: HK Grotesk;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  outline: none;
  cursor: pointer;
}
@media (max-width: 768px) {
  .account-con {
    width: 360px;
    height: 640px;
    background-color: #131313;
  }
  .account-container {
    height: 407px;
    width: 360px;
    padding-top: 32px;
    margin-top: -14px;
    padding-bottom: 82px;
  }
  .account-heading {
    width: 90px;
    height: 28px;
    margin-left: 32px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
  }
  .rule {
    width: 296px;
    height: 2px;
    margin-top: 8px;
    margin-left: 32px;
    border-radius: 10px;
  }
  .member-ship {
    margin-left: 32px;
    margin-top: 24px;
    padding-left: 0px;
  }
  .member-heading {
    height: 23px;
    font-family: HK Grotesk;
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0px;
    margin-top: 14px;
  }
  .gmail-password {
    margin-left: 0px;
  }
  .gmail-heading {
    width: 129px;
    height: 21px;
    font-family: HK Grotesk;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;

    margin-top: 14px;
  }
  .password-heading {
    width: 168px;
    height: 21px;
    font-family: HK Grotesk;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
  }
  .premium {
    width: 64px;
    height: 21px;
    font-family: HK Grotesk;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
    margin-left: 0px;
    padding-left: 0px;
  }
  .ultra-hd {
    font-family: HK Grotesk;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
    padding: 2px;
    padding-left: 4px;
    padding-bottom: 2px;
    padding-right: 4px;
    border-radius: 2px;
    border: 1px solid #1e293b;
    gap: 10px;
  }
  .logout-button {
    width: 89px;
    height: 40px;
    margin-top: 48px;
    margin-left: 136px;
    padding: 8px, 20px, 8px, 20px;
    border-radius: 4px;
  }
}
.contact-con {
  width: 145px;
  height: 21px;
  margin-top: 96px;
  margin-left: 648px;
}
.google-icon {
  font-family: Font Awesome 5 Brands;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: center;
  width: 18px;
  height: 21px;
  color: #ffffff;
}
.icon-margin {
  margin-left: 24px;
}
.contact-us {
  width: 80px;
  height: 24px;
  margin-top: 16px;
  margin-left: 680px;
  font-family: HK Grotesk;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;
}
@media (max-width: 768px) {
  .contact-con {
    margin-top: 64px;
    margin-left: 125px;
  }
  .contact-us {
    margin-left: 151px;
    width: 60px;
    height: 16px;
    font-family: HK Grotesk;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;

    color: #ffffff;
  }
  .google-icon {
    width: 14px;
    height: 16px;
  }
}
